name: api-prod

services:
  admin:
    build:
      dockerfile: ./Dockerfile.prod
    ports:
      - '${ADMIN_APP_HOST_PORT}:3000'
    environment:
      SERVICE_NAME: admin
      NODE_ENV: production
    restart: unless-stopped
    networks:
      - api-net

networks:
  api-net:
    driver: bridge
