name: api

services:
  # Shared db
  postgres:
    image: "docker.io/postgres:17-alpine"
    ports:
      - "5432:5432"
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - api-net
  postgres-build-dbs:
    build:
      context: ./build-dbs
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      DB_NAMES: postgres
      SCHEMA_NAMES: api
    volumes:
      - build-db-data:/var/lib/postgresql/data
    networks:
      - api-net

volumes:
  db-data:
  build-db-data:

networks:
  api-net: # here we set the network name
    driver: bridge
